{% extends 'main.html'%}
{% block crud_container %}

{% if users == [] %}

<img src="https://img.freepik.com/premium-vector/icon-nothing-no-symbol-nope_883533-272.jpg?w=740"
      width="220" height="220">
<h2> {{"NOBODY HERE"}} </h2>
{% elif user %}
<article class="card container fluid">
    <br>
    <h1>ID: {{user.id}} </h1>
    <h5>Name: {{user.username}} </h5>
    <h5>Age: {{user.age}} </h5>
</article>

{% else %}
<section class="container-fluid">
    <h2 align="center"> Users </h2>
    <br>
    <div class="card">
        <ul class="list-group list-group-flush">
            {% for user in users %}
            <li class="list-group-item"> {{user.id}} <a href="/user/{{user.id}}">{{user.username}} </a> </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endif %}
{% endblock %}
